{% extends 'base.html' %}
<!-- banner -->
{% block content %}
<section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
    <div class="container-fluid py-md-3">
        <div class="row">

            <div class="side-bar col-lg-3">

                <div class="search-bar w3layouts-newsletter">
                    <h3 class="sear-head editContent">Поиск фильма</h3>
                    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
                        <input type="search" placeholder="Введите название..." name="q" class="form-control"
                               required="">
                        <button class="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                </div>
                {% include 'include/sidebar.html' %}
            </div>

            {% block movie %}

            {% endblock movie %}

        </div>

    </div>
</section>
{% endblock content %}